article {
  /* flex: center; */
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  text-align: left;
  font-weight: bold;
}
.tweetContainer {
  /* display: flex; */
  text-align: center;
  margin-top: 80px;
  border: solid 3px;
}
hr {
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
  width: 95%;
  height: 3px;
  background-color: #333;
}
.person {
  font-weight: lighter;
}
footer {
  margin-left: 5%;
  width: 95%;
  text-align: left;
  font-size: 0.75em;
}
.articleHeader {
  margin-bottom: 30px;
  /* display: inline; */
}
.atPerson {
  float: right;
}