article {
  /* flex: center; */
  
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  text-align: left;
  
}
.tweetBox {
  /* display: flex; */
  text-align: center;
  margin-top: 80px;
  border: solid 3px;
  /* font-weight: normal; */
}
.line {
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
  width: 95%;
  height: 3px;
  background-color: #333;
}
.person {
  /* font-weight: 100; */
  padding-bottom: 10px;
  /* padding-top: 10px; */
  /* float: inherit; */
}
img {
  text-align: left;
}
footer {
  margin-left: 5%;
  width: 95%;
  text-align: left;
  font-size: 0.75em;
}
.articleHeader {
  /* font-weight: 300; */
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.leftContent {
  display: flex;
  align-items: center;
}

.atPerson {
  visibility: hidden;
  /* float: right; */
  padding-top: 10px;
  color: rgb(173, 172, 172);
}

.tweetBox:hover .atPerson {
  visibility: visible;
}

.tweetContainer:hover img {

}
.tweetBox:hover {
  font-weight: 300;
  box-shadow: 10px 10px 4px #000000;
}

.warning {
  color: red;
}