article {
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
  text-align: left;
  
}

/*
  style the tweet box to have the border
 */
.tweetBox {
  text-align: center;
  border: solid 3px;
  margin-bottom: 40px;
}
.error {
  border: solid 3px;
  color: red;
  border-color: red;
  font-weight: 500;
}
.line {
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
  width: 95%;
  height: 3px;
  background-color: #333;
}
.person {
  padding-bottom: 10px;
}
img {
  text-align: left;
}

/*
  add the style to footer of the article
 */
footer {
  margin-left: 5%;
  width: 95%;
  font-size: 0.75em;
  display: flex;
  justify-content: space-between;
}
.articleHeader {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

/*
  avatars and username
 */
.leftContent {
  display: flex;
  align-items: center;
}

.atPerson {
  visibility: hidden;
  padding-top: 10px;
  color: rgb(173, 172, 172);
}

.fontAwesome {
  padding-top: 15px;
  padding-right: 30px;
  color: grey;
}

.tweetBox:hover .atPerson {
  visibility: visible;
}

/*
I use the text-shadow instead of font-weight to avoid the text moving 
 */
.tweetBox:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;  
  box-shadow: 10px 10px 4px #546288;
}

.warning {
  color: red;
}