.mainHeader {
  position: absolute;
  top:120px;
  z-index: 9;
  padding-bottom: 40px;
  text-align: center;
  width: 100%;
}
.displayHeader {
  background-color: rgb(202, 129, 20);
  background-image: url('/images/fabric-light.png');
  height: 400px;
  box-sizing: border-box;
  
}

.username {
  color:#ffffff;
}
