nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  font-size: larger;
  background-color: rgb(202, 129, 20);
  background-image: url('/images/fabric-light.png');
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.newTweets {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.createTweets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-angle-double-down {
  margin-left: 2em;
  color: red;
  cursor: pointer;
}

/* red moving arrow sign */
 .fa-angle-double-down {
  animation: mover 1s infinite alternate;
}
@keyframes mover {
  0% { transform: translateY(-3px); } /* Negative -> up */
  100% { transform: translateY(8px); } /* Positive -> down */
}