nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  font-size: larger;
  font-weight: bolder;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 10;
}