nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 120px;
  width: 100%;
  font-family: 'Bungee', cursive;
  font-size: larger;
  /* font-weight: bolder; */
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}
.newTweets {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
.createTweets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-angle-double-down {
  margin-left: 50px;
  color: red;
  cursor: pointer;
}